/* Common Styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: white;
}

h1, h2 {
    font-weight: bold;
}

img {
    border-radius: 10px;
    max-height: 300px;
}

/* Cards Styling */
.skill-card, .project-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.skill-card:hover, .project-card:hover {
    transform: scale(1.05);
}

/* Project Card Styling */
.project-card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}


/* Form Styling */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form .form-label {
    font-weight: bold;
}

#social-links a {
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

#social-links a:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

header .btn {
    font-size: 18px;
    padding: 12px 25px;
    text-decoration: none;
}

header .btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

